* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    animation: darken;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.controller {
    display: none;
}

.controller:checked ~ .knob {
    animation-name: paint-pink;
    animation-duration: 1ms;
    animation-fill-mode: forwards;
}

.controller:checked ~ .knob::after {
    right: 8px;
   animation-name: slide;
   animation-duration: 1s;
   animation-timing-function: ease-in;
   border-color: #4F4F4F;
}

.knob {
    display: block;
    cursor: pointer;
    border-radius: 500px;
    width: 180px;
    height: 70px;
    padding: 5px 10px;
    background-color: #D7D7D7;
    position: relative;
    box-shadow: 0 0 5px 5px rgba(0, 0 , 0, .1);
}

.knob::after {
    box-sizing: border-box;
    content: ' ';
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 100%;

    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-direction: reverse;

    border: 14px solid #DF2A5D;
    background-color: rgba(255, 255, 255, .9);
}


@keyframes slide {
    from {
        right: calc(100% - 52px);
    }
}


@keyframes paint-pink {
    to {
        background-color: #f36f94;
    }
}